* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("./assets/Dominica.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
